@font-face {
  font-family: norse-bold;
  src: url(../fonts/Norse-Bold.otf);
}

.photo {
  width: 40vw;
  height: 100vh;
  background-image: url("./img/bg.jpg");
}

span {
  color: red;
}

.photo-by {
  text-decoration: none;
  color: white;
  justify-self: end;
  position: absolute;
  bottom: 0;
}

a {
  text-decoration: none;
  color: white;
}

.odin-logo {
  position: relative;
  top: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 45%);
  width: 100%;
  align-self: flex-start;
}

.odin {
  font-family: norse-bold, sans-serif;
  color: white;
  font-size: min(4rem, 7vw);
}

.img-logo {
  width: 100px;
}

body {
  display: flex;
}

#log-in {
  color: rgb(129, 141, 206);
}

.container {
  width: 60vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.info1,
.info2,
p,
.form {
  font-size: 1.7rem;
  padding: 10px;
}

label {
  font-size: 1rem;
}

button {
  display: block;
  background-color: rgb(222, 235, 248);
  font-size: 1.5rem;
  border-radius: 5px;
}

.form {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border: 1px solid #D6D9DC;
  border-radius: 3px;
  width: 100%;
}

.call-to-action {
  padding-bottom: 20px;
}

input {
  border: #E5E7EB;
  background-color: rgb(222, 235, 248);
  font-size: 1.3rem;
  border-radius: 5px;
  width: 270px;
}

input:focus {
  outline: none !important;
  border:1px solid blue;
  box-shadow: 0 0 10px #719ECE;
}

.error {
  border: 1px solid red;
}

.form-row {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  gap: 10px;
  width: max(50%, 300px);
}

.row {
  display: flex;
  gap: 20px;
}

button {
  margin-top: 30px;
  margin-left: 10px;
  width: 250px;
}

#message {
  font-size: 1rem;
}